:root {
  --body-background-color: #1a1a1a;
  --sidebar-color: #111111;
  --code-background-color: #222222;

  --body-text-color: #e0e0e0;
  --nav-child-link-color: #b0b0b0;

  --link-color: #3d9df2;

  --nav-heading-color: #2ecc71;

  --border-color: #2a2a2a;
  --table-border-color: #2a2a2a;

  --code-text-color: #2ecc71;
}
